@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);


.header
{
	
	min-height: 200px;
	background: none;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	
	font:25pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);
}

.mainName
{
	font-size: 50pt;
}

.contactDetails
{
	
	min-height: 100px;
	background: none;
	margin-bottom: 20px;
	
	font:7pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);
	
	padding-left: 10px;
	text-align: center;


}

.contactDetails:hover
{
        -webkit-transform: scale(1.8);
        -ms-transform: scale(1.8);
        transform: scale(1.8);
		
}

.workExperience
{
	
	min-height: 500px;
	background: none;
	margin-bottom: 40px;
	
	font:10pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);
	
	padding-left: 10px;


}
.education
{
	
	min-height: 200px;
	background: none;
	margin-bottom: 20px;
	
	font:15pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);

}

@media screen and (max-width: 480px)
{
	.removeOnSmall
	{
		display: none;
	}
}

.photo
{
	
	min-height: 370px;
	background-color: none;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	
	font:25pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);
	

	

}

@keyframes animateBorder {
  to {
    outline-color: #606060;
    box-shadow: 0 0 0 6px grey;
  }
}


.photo img
{
	width: 65%;
	height: 340px;
	
	outline: 6px dashed grey;
    box-shadow: 0 0 0 6px #606060;
	animation: 1s animateBorder infinite;
	
	
}





.personalProfile
{
	
	min-height: 240px;
	background: none;
	margin-bottom: 20px;
	
	font:15pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);

}.keySkills
{
	
	min-height: 170px;
	background: none;
	margin-bottom: 20px;
	
	font:15pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);;

}.references
{
	
	min-height: 200px;
	background: none;
	margin-bottom: 20px;
	
	font:10pt 'Gloria Hallelujah';
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);

}

.references:hover
{
        -webkit-transform: scale(1.8);
        -ms-transform: scale(1.8);
        transform: scale(1.8);
		background-color: grey;
		background-color:rgba(128,128,128,0.5);
}

body
{
	background:url("chalkboard.jpg");
	background-size:cover;
	
	
	
}












